.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to prototype do
      - if prototype.captured_images.any?
        = image_tag prototype.captured_images.first.content.to_s
      - else
        = image_tag 'noimage-big.png'
      .caption
        %h3
          = prototype.title
        .proto-meta
          .proto-user
            = link_to "by #{prototype.user.name}", prototype.user
          .proto-posted
            = prototype.created_at
        %ul.proto-tag-list.list-inline
          %li
            = link_to 'iPad', '#', class: 'btn btn-default'
          %li
            = link_to 'wireframe', '#', class: 'btn btn-default'
