= provide :title, @prototype.title
.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to @user do
            - if @user.avatar
              = image_tag @user.avatar.to_s, class: 'media-object', 'data-holder-rendered': true, style: 'width: 64px; height: 64px;'
            - else
              = image_tag 'noimage.png'
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@user.name}", @user
            %span.degree
              = @user.occupation
    .col-md-6.text-right#like_button
      = render 'likes/like'
  .row
    .col-md-9
      - if @main_image
        = image_tag @main_image, class: 'img-responsive'
      - else
        = image_tag 'noimage-big.png'
    .col-md-3
      %ul.proto-sub-list.list-group
        - @sub_images.each do |image|
          %li.list-group-item
            = image_tag image, class: 'img-responsive'
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        - @prototype.tags.each do |tag|
          %li
            = link_to tag.name, prototypes_tag_path(tag.name), class: "btn btn-default"
  .row.proto-comments
    %h4.col-md-12
      Comments(
      %span.num
        = @comments.count
      )
    .col-md-8#post-comment
      = render @comments
      = paginate @comments
    .col-md-8
      = form_for [@prototype, @comment], remote: true, html: { class: 'form-inline', role: 'form' } do |f|
        %h4 Write a comment
        .row
          .form-group.col-md-10
            = f.text_area :content, class: 'form-control comment-input', placeholder: 'Your comments', rows: 3
          .form-group.col-md-2
            = f.submit 'Comment', class: 'btn btn-primary'
