= provide :title, 'Edit user'
- if @user.errors.any?
  .alert.alert-warning
    = "#{@user.errors.count}件のエラーがあります"
  - @user.errors.full_messages.each do |error|
    = content_tag :div, error, class: 'alert alert-warning'
= form_for @user, url: users_path, html: { class: 'container user-new' } do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 Edit User
        .user-name_image.row
          .user-name.col-md-10
            %h4 name
            = f.text_field :name, placeholder: 'name', required: true
          .user-image.col-md-2
            %button.btn.btn-primary Add image
            = f.file_field :avatar, class: 'preview_file'
        %h4 Email
        = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'user-email', required: true
        %h4 password
        = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'user-password'
        %h4 password_confirmation
        = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password', class: 'user-password'
      .col-md-12
        %h4 Occupation
        .user-user-member.row
          .user-name.col-md-12
            = f.text_field :occupation, placeholder: 'Occupation'
        %h4 Position
        .user-name_image.row
          .user-name.col-md-12
            = f.text_field :position, placeholder: 'Position'
        %h4 Profile
        .user-user-profile.row
          .user-name.col-md-12
            = f.text_area :profile, cols: 30, rows: 3, placeholder: 'Profile'
        .row.text-center.user-btn
    = f.submit class: 'btn btn-lg btn-primary btn-block', value: 'Save'
